

<table class="table">
  <thead>
    <tr>
      <th scope="col">Sr. No.</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Salery</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @teacher_detail.id %></td>
      <td><%= @teacher_detail.date_of_birth %></td>
      <td><%= @teacher_detail.salery %></td>

    </tr>
   
  </tbody>
</table>


