<nav class="navbar navbar-expand-lg navbar-light bg-light">

      <ul style="margin-left: 90%; color: white;">
       
        
          <button type="button" class="btn btn-success"><a  href="/users/new">Sign-UP<a></button>
        
       
        
      </ul>

</nav>